Assignment1/sudo
Assignment1/fput
Assignment1/fget
Assignment1/setacl
Assignment1/getacl
Assignment1/create_dir
Assignment1/cd
Assignment1/*.o

Assignment2/secure_client
Assignment2/secure_server
Assignment2/client_real
Assignment2/server_real
Assignment2/*.o
Assignment2/.deps/
Assignment2/certs/
Assignment2/secure.key

Exercise3/certs/
Exercise3/captures/
